---
import Layout from "@/layouts/Layout.astro";
import Post from "@/components/Post.astro";
import { getListAllContents } from "@/lib/microcms";
import type { Blog } from "@/lib/microcms";
import type { MicroCMSContentId, MicroCMSDate } from "microcms-js-sdk";
import { JSDOM } from "jsdom";
import ShareButton from "@/components/ShareButton.astro";

interface pathType {
	params: {
		blogId: string;
	};
	props: {
		blog: Blog & MicroCMSContentId & MicroCMSDate;
	};
}

export const getStaticPaths = async (): Promise<pathType[]> => {
	const response = await getListAllContents<Blog>("blogs");
	return response.map((content) => ({
		params: {
			blogId: content.id
		},
		props: {
			blog: content
		}
	}));
};

const { blog } = Astro.props;

const contentsDom = new JSDOM(blog.contents);
const body = contentsDom.window.document.querySelector("body");
const contents = body !== null ? body.textContent ?? "" : "";
const description = contents.substring(0, 80) + "...";

const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");
---

<Layout title={blog.title} ogType="article" description={description} ogImage={blog?.thumbnail?.url}>
	<Post post={blog} />
	<div class="post-button">
		<ShareButton url={`${Astro.site}${path}`} service="x" text={blog.title} />
		<ShareButton url={`${Astro.site}${path}`} service="bluesky" text={blog.title} />
		<ShareButton url={`${Astro.site}${path}`} service="pocket" />
		<ShareButton url={`${Astro.site}${path}`} service="hatena" />
	</div>

	<style lang="scss">
		.comment-note {
			margin-bottom: 10px;
			font-weight: bold;
		}

		.post-button {
			width: 100%;
			max-width: 800px;
			margin: 60px auto;
			display: flex;
			gap: 20px;
			user-select: none;
			flex-wrap: wrap;
		}
	</style>
</Layout>
