---
import type { Blog } from "@/lib/microcms";
import type { MicroCMSListContent } from "microcms-js-sdk";
import hljs from "highlight.js";
import * as cheerio from "cheerio";
import "highlight.js/styles/vs2015.css";

interface Props {
	post: Blog & MicroCMSListContent;
}

const { post } = Astro.props;

let content = "";
if (post.content !== undefined) {
	const $ = cheerio.load(post.content);
	$("pre code").each((_, element) => {
		const result = hljs.highlightAuto($(element).text());
		$(element).html(result.value);
		$(element).addClass("hljs");
	});

	const html = $("body").html();
	if (html !== null) {
		content = html;
	}
}

const date = post.publishedAt !== undefined ? post.publishedAt : post.createdAt;
---

<h2 class="post-title">{post.title}</h2>

<div class="post-head">
	<time datetime={date}>{date}</time>
	<div class="post-tags">
		{post.tags.map((tag) => <span>#{tag.name}</span>)}
	</div>
</div>
<article class="cms-content" set:html={content} />

<style>
	@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

	.post-title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.post-head {
		margin-bottom: 20px;
	}

	.post-tags {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		align-items: center;
	}

	.cms-content > :global(*) {
		margin-bottom: 30px;
	}

	.cms-content :global(h3) {
		border-bottom: 1px solid black;
		margin-bottom: 30px;
		font-size: 20px;
	}

	.cms-content :global(h4) {
		margin-bottom: 30px;
		font-size: 17px;
		text-decoration: underline;
	}

	.cms-content :global(pre > code),
	.cms-content :global(pre > code *) {
		font-family: "Source Code Pro", monospace;
	}
</style>
