---
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/molecules/Header.astro";
import Footer from "@/components/molecules/Footer.astro";
import "@akimeaki/reset-css";

interface Props {
	title?: string;
	ogType?: string;
	description?: string;
	ogImage?: string | undefined;
	notFound?: boolean;
}

const defaultDescription = "ウェブエンジニアがちまちま書いてるブログ";

const {
	title,
	ogType = "article",
	description = defaultDescription,
	ogImage = `${Astro.site}default-ogp.png`,
	notFound = false
} = Astro.props;
const serviceTitle = "孅いウェブエンジニアブログ";
const pageTitle = title === undefined ? serviceTitle : `${title} - ${serviceTitle}`;

const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		{!notFound && <link rel="canonical" href={`${Astro.site}${path}`} />}
		<!-- Google Tag Manager -->
		<script is:inline>
			// prettier-ignore
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-W7HGV4S5');
		</script>
		<!-- End Google Tag Manager -->
		<meta property="og:url" content={`${Astro.site}${path}`} />
		<meta property="og:type" content={ogType} />
		<meta property="og:title" content={title ?? serviceTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={serviceTitle} />
		<meta property="og:image" content={ogImage} />
		<meta
			name="twitter:card"
			content={ogImage === `${Astro.site}default-ogp.png` ? "summary" : "summary_large_image"}
		/>
		<meta name="twitter:site" content="@Akime_Aki" />
		<meta name="twitter:title" content={title ?? serviceTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImage} />
		<link rel="icon" href="/favicon.ico" />
		<title>{pageTitle}</title>
		<script
			type="application/ld+json"
			is:inline
			set:html={JSON.stringify({
				"@context": "https://schema.org",
				"@type": "WebSite",
				name: serviceTitle,
				description: defaultDescription,
				inLanguage: "ja",
				url: Astro.site,
				author: {
					"@type": "Person",
					name: "彩季",
					url: "https://aki.wtf"
				}
			})}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6914867149724943"
			crossorigin="anonymous"></script>
		<ViewTransitions />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-W7HGV4S5"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<Header />

		<main id="main">
			<slot />
		</main>

		<Footer />

		<script>
			const isTouchDevice = (): boolean => {
				if (typeof window !== "undefined") {
					return (
						"ontouchstart" in window ||
						navigator.maxTouchPoints > 0 ||
						window.matchMedia("(pointer:coarse)").matches
					);
				} else {
					return false;
				}
			};

			document.body.dataset.touch = isTouchDevice() ? "true" : "false";

			const touched = (): void => {
				document.body.dataset.touch = "true";
			};

			const move = (e: PointerEvent): void => {
				if (e.pointerType === "mouse") {
					document.body.dataset.touch = "false";
				}

				if (e.pointerType === "touch" || e.pointerType === "pen") {
					document.body.dataset.touch = "true";
				}
			};

			window.addEventListener("touchstart", touched, false);
			window.addEventListener("pointermove", move, false);
		</script>
		<script>
			document.addEventListener("astro:after-swap", () => {
				window.dataLayer.push({
					event: "view-transitions-change-path"
				});
			});
		</script>
		<style lang="scss">
			:global(*) {
				color: #232323;

				@media (prefers-color-scheme: dark) {
					color: white;
				}
			}

			body {
				background-color: #eeeeee;
				overflow-y: scroll;

				@media (prefers-color-scheme: dark) {
					background-color: #363636;
				}
			}

			#main {
				padding: 30px 20px;
			}
		</style>
	</body>
</html>
